* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  width: 50%;
  margin: auto;
  /* text-align: center; */
}

#colors {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.ball {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  border-radius: 50px;
}
